<header xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
	<link rel='stylesheet' type='text/css' href="@routes.Assets.at("stylesheets/main.css")">
    <script type='text/javascript' src="@routes.Assets.at("javascripts/my.js")"></script>
    <script type='text/javascript' src="@routes.Assets.at("javascripts/jquery-1.10.2.min.js")"></script>
</header>
<body class="myBody">

     <div class="wrapper">
        <div class="header">
            Portfolio Tracker
        </div>
        <div class="title">
            My Portfolio
        </div>
        <div class="content" id="fundList">
        
       		<script type="text/javascript">
       			initFunds();
       		</script>

        </div>
    </div>
</body>